biopython==1.77
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
dataclasses==0.6
dataclasses-serialization==1.3.1
docutils==0.16
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.2
keyring==21.8.0
MarkupSafe==1.1.1
more-properties==1.1.0
mypy-extensions==0.4.3
numpy==1.19.5
packaging==20.8
pkginfo==1.6.1
pycparser==2.20
Pygments==2.7.3
pyparsing==2.4.7
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.0
six==1.15.0
SQLAlchemy==1.3.22
toolz==0.11.1
toposort==1.6
tqdm==4.56.0
twine==3.3.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
