{% extends 'base.html' %}

{% block head %}
<title>Genetic Translator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/genetic-translator.css') }}?v={{today_date}}">
{% endblock %}

{% block main %}
<main class="main-closed">

    <div class="seq-input-div">
        <form action="/" method="POST">

            <textarea class="seq-input-area" id="sequence" name="sequence" type="textarea"
                placeholder="Input a DNA, RNA or protein sequence or a FASTA text"
                oninput="sequenceController.checkSequence()"></textarea>
            <p class="textarea-span textarea-invalid" id="sequence-span">A Sequência acima é inválida</p>

            <div class="seq-type-selector">
                <input class="seq-type-selector-choice" type="radio" id="dna-seq" name="seq" value="dna-seq" checked
                    onchange="sequenceController.checkSequence()">
                <label class="seq-type-selector-label" for="dna-seq">DNA</label>
                <input class="seq-type-selector-choice" type="radio" id="rna-seq" name="seq" value="rna-seq"
                    onchange="sequenceController.checkSequence()">
                <label class="seq-type-selector-label" for="rna-seq">RNA</label>
                <input class="seq-type-selector-choice" type="radio" id="protein-seq" name="seq" value="protein-seq"
                    onchange="sequenceController.checkSequence()">
                <label class="seq-type-selector-label" for="protein-seq">Proteína</label>
            </div>

            <div class="seq-todo-translation-table">
                <label for="translation-table">Origem Genética</label>
                <select class="select-translation" name="translation-table" id="translation_table">
                    <option value="1">The Standard Code</option>
                    <option value="2">The Vertebrate Mitochondrial Code</option>
                    <option value="3">The Yeast Mitochondrial Code</option>
                    <option value="4">The Mold, Protozoan, and Coelenterate Mitochondrial Code and the
                        Mycoplasma/Spiroplasma Code</option>
                    <option value="5">The Invertebrate Mitochondrial Code</option>
                    <option value="6">The Ciliate, Dasycladacean and Hexamita Nuclear Code</option>
                    <option value="9">The Echinoderm and Flatworm Mitochondrial Code</option>
                    <option value="10">The Euplotid Nuclear Code</option>
                    <option value="11">The Bacterial, Archaeal and Plant Plastid Code</option>
                    <option value="12">The Alternative Yeast Nuclear Code</option>
                    <option value="13">The Ascidian Mitochondrial Code</option>
                    <option value="14">The Alternative Flatworm Mitochondrial Code</option>
                    <option value="16">Chlorophycean Mitochondrial Code</option>
                    <option value="21">Trematode Mitochondrial Code</option>
                    <option value="22">Scenedesmus obliquus Mitochondrial Code</option>
                    <option value="23">Thraustochytrium Mitochondrial Code</option>
                    <option value="24">Rhabdopleuridae Mitochondrial Code</option>
                    <option value="25">Candidate Division SR1 and Gracilibacteria Code</option>
                    <option value="26">Pachysolen tannophilus Nuclear Code</option>
                    <option value="27">Karyorelict Nuclear Code</option>
                    <option value="28">Condylostoma Nuclear Code</option>
                    <option value="29">Mesodinium Nuclear Code</option>
                    <option value="30">Peritrich Nuclear Code</option>
                    <option value="31">Blastocrithidia Nuclear Code</option>
                    <option value="33">Cephalodiscidae Mitochondrial UAA-Tyr Code</option>
                </select>
            </div>

            <input type="submit" class='form-submit' id="form-submit" value="Convert">

        </form>
    </div>

    {% if received %}<div class="main-seq-output" id="seq-output"></div>{% endif %}

</main>

<script src="{{url_for('static', filename='js/controller/SequencerController.js')}}?v={{today_date}}"></script>
<script src="{{url_for('static', filename='js/helpers/SequenceRegEx.js')}}?v={{today_date}}"></script>
<script src="{{url_for('static', filename='js/views/View.js')}}?v={{today_date}}"></script>
<script src="{{url_for('static', filename='js/views/SequencesView.js')}}?v={{today_date}}"></script>
{% if received %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sequences.css') }}?v={{today_date}}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
    const dnaData = {{ dna_data | safe }}
    const rnaData = {{ rna_data | safe }}
    const proteinData = {{ protein_data | safe }}
    const sequenceController = new SequencerController(dnaData, rnaData, proteinData)
</script>
{% else %}
<script>
    const sequenceController = new SequencerController()
</script>
{% endif %}
{% endblock %}