.form-parent-node {
    position: relative;
    padding: 15px;
}

.new-alignment{
    font-size: 1.7em;
    font-weight: bold;
    color: #1e00b8;
}

.form-parent-node-btn {
    position: absolute;
    left: calc(100% - 38px);
    top: 5px;
    border: 1px solid #1e00b8;
    border-radius: 4px;
    width: 1.5em;
    height: 1.5em;
    padding: 3px
}

.rotate {
    transform:rotateX(180deg);
    transition: 200ms;
}

.form-parent-node-btn:hover {
    box-shadow: 1px 1px 2px gray;
    transition: 200ms;
}

.form-parent-node-btn:active {
    transition: 200ms;
    box-shadow: inset 1px 1px 2px gray;
}
.sequence-input{
    padding:10px;
    border: 2px solid #1e00b8;
    border-radius:5px;
    margin: 15px 15px 15px 0px;
}

.sequences {
    display: flex;
    flex-direction: row;   
    align-items: center;
}

.sequence {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.seq-input-area-invalid {
    border: 1px solid red;
}

.textarea-span {
    display: none;
}

.textarea-invalid {
    color: red;
}


textarea {
    border: 1px solid #1e00b8;
    border-radius: 2px;
    margin: 5px 0;
}

.score-input {
    width: 3.5em;
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.selection, .substitution-matrix{
    margin-left: 15px;
}

.score-selector {
    margin-left: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 4.5em 1fr 4.5em 1fr;
    align-items: center;
    border: 1px solid #1e00b8;
    border-radius: 5px;
}

.score-selector > label, .score-selector > input {
    margin: 5px;
    height: 1em;
    font-size: .85em;
}
.form-submit {
    width: 100%;
    background: linear-gradient(90deg, #021B79, #0575E6, #205E9B);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    border: 1px solid white;
}

.form-submit:hover:enabled {
    transition: 0.3s;
    border: 1px dotted #0575E6;
}

.form-submit:active:enabled {
    box-shadow: 1px 1px 2px black;
}

.form-submit:disabled {
    background: linear-gradient(90deg, #5f6064, #d5dbe0, #8d9297);
}
.hidden {
    transition: 300ms;
    display: none;
}

.none{
    display: none;
}