.main-seq-output {
    margin: 37px 20px;
}

.seq-output-title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.seq-output {
    margin: 10px 0;
    border: 2px solid #1e00b8;
    border-radius: 4px;
    padding: 30px;
    position: relative;
}

.seq-output-child {
    width: calc(100% - 10px);
    margin-bottom: 25px;
    position: relative;
    border: 1px solid #1e00b8;
    border-radius: 4px;
    padding: 5px;
}

.seq-header{
    margin-bottom: 0.5em;
}

.seq-text {
    -webkit-transition: height 700ms ease;
    transition: height 700ms ease;
    height: 28px;
    overflow: hidden;
    overflow-wrap: break-word;
    font-family: monospace;

}

.seq-text-open {
    height: 300px;
    -webkit-transition: height 700ms ease;
    transition: height 700ms ease;
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-family: monospace;
}

.coding-dna-btn, .dna-c-btn, 
.dna-c-r-btn , .rna-m-btn,
.rna-c-btn, .frame1-btn,
.frame2-btn, .frame3-btn,
.protein-to-stop-codon-btn {
    position: absolute;
    left: calc(100% - 33px);
    top: 5px;
    border: 1px solid #ffffff00;
    border-radius: 4px;
    width: 0.8em;
    height: 0.8em;
}

.dna-div-btn, .rna-div-btn, .protein-div-btn{
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid #ffffff00;
    border-radius: 4px;
}

.coding-dna-btn:hover, .dna-c-btn:hover, 
.dna-c-r-btn:hover , .rna-m-btn:hover,
.rna-c-btn:hover, .frame1-btn:hover,
.frame2-btn:hover, .frame3-btn:hover,
.dna-div-btn:hover, .rna-div-btn:hover, 
.protein-div-btn:hover {
    background-color: #d3d3d360;
    border: 1px solid #b8b8b8;
}

.coding-dna-btn:active, .dna-c-btn:active, 
.dna-c-r-btn:active , .rna-m-btn:active,
.rna-c-btn:active, .frame1-btn:active,
.frame2-btn:active, .frame3-btn:active,
.dna-div-btn:active, .rna-div-btn:active, .protein-div-btn:active {
    background-color: #bebdbd60;
    border: 1px solid #9c9c9c;
    box-shadow: 1px 1px 1px black;
}

.seq-table {
    display:flex;
    margin: 15px;
    justify-content: center;
}

tbody{
    border: 1px solid #1e00b8;
    border-radius: 5px;
}

td {
    padding: 5px;
    border: 1px solid #1e00b8;
}

.none {
    display: none;
}